@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
  }
  li{
    font-size:15px
  }
.header{
  text-align: center;
  font-weight:bold;
}
.desiredLift {
    background-color: white;
}
.container {
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.bodyContainer{
    animation: .25s ease-out 0s 1 fade-in;
    padding-bottom: 50px;
}
.Input-form-box{
    display:flex;
    padding:20px;
    justify-content: space-between;
    flex-direction: column;
    border-color:black;
    border-style:solid;
    border-radius: 10px;
    width:25%;
    height:auto;
}
.Line-box{
  padding:5px;
  margin-bottom: 10px;
  border-color: black;
  border-style:solid;
  border-radius: 10px;
}
.Form-title{
    font-size:20px;
    color:black;
    padding-left: 5px;
    padding-bottom: 10px;
}
